@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lato");
.mobile-only {
  display: initial; }

.hidden {
  display: none; }

.navbar-brand {
  margin-left: 16px; }

.align-right {
  float: right !important; }

.main-container {
  margin: 20px 40px; }

.padding-top-bottom-40 {
  margin: 40px 0px; }

.button-container {
  display: flex;
  justify-content: center; }

.card {
  border: none; }

.card-title {
  color: #07131F; }

.info-link {
  margin: 20px 0px;
  text-align: center; }

.info-link p {
  font-size: 12px; }

.info-link p:last-child {
  font-size: 14px; }

.car-info {
  font-size: 12px;
  text-align: center; }

.price-info {
  margin: 20px 0px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.icon {
  padding-bottom: 5px;
  width: 24px;
  padding-right: 5px; }

.checkbox {
  width: 20px;
  margin-bottom: 0px; }

.inline-flex {
  display: inline-flex;
  padding-left: 0px; }

.check-text {
  margin-top: -6px; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #A3A3A3; }

.main-logo {
  height: 150px;
  margin-bottom: 50px; }

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*height: 100vh;*/
  align-items: center;
  /*padding: 15vw;*/ }

.green-btn {
  background-color: #27E277;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 15px 0;
  width: 100%;
  margin: 10px 0;
  text-decoration: none; }

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

nav {
  background-color: #27E277;
  display: flex;
  align-items: center; }

.header-logo {
  height: 50px;
  margin: 10px; }

.back {
  height: 30px;
  margin-left: 7vw; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #27E277;
  font-size: 22px;
  margin-bottom: 80px; }

.margin-bottom-1rem {
  margin-bottom: 1rem; }

input {
  border: none;
  margin-bottom: 50px;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #A3A3A3;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  outline: none; }

a {
  color: #27E277;
  text-decoration: none; }

.bottom-links {
  width: 100%;
  display: flex;
  justify-content: space-between; }

::placeholder {
  color: #bcbcbc; }

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  background: white;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26); }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  color: #FFFFFF;
  background: #27E277; }

.ui-datepicker table {
  width: 100%;
  font-size: .7em;
  border-collapse: collapse;
  font-family: verdana;
  margin: 0 0 .4em;
  color: #000000;
  background: white; }

/*This is date TD */
.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .8em;
  text-align: right;
  text-decoration: underline; }

.ui-widget-header {
  border: none;
  background: none;
  color: #222222;
  font-weight: bold; }

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url(../images/arrows.png); }

.ui-icon-circle-triangle-w {
  background-position: 10px 1px; }

.ui-icon {
  width: 22px;
  height: 22px; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0; }

.ui-widget-content {
  border: transparent; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  font-weight: normal;
  color: #555555;
  font-size: 14px;
  border: none;
  background: transparent;
  text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #27E277 !important;
  color: white !important;
  text-align: center;
  border-radius: 50%; }

.ui-datepicker .ui-datepicker-header {
  background: #27E277; }

#date_ex {
  background: url(../images/calendar.svg) no-repeat right center;
  background-size: 27px 27px; }

#booking-reference {
  font-weight: bold;
  color: #707070; }

/*Navbar*/
.navbar-light .navbar-toggler {
  border: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/burger.svg");
  outline: none; }

.navbar-light .navbar-toggler {
  outline: none; }

.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif; }

.rento-logo {
  width: 300px;
  margin-bottom: 50px; }

@media only screen and (min-width: 990px) {
  .mobile-only {
    display: none; }

  .green-btn {
    width: 300px; } }

/*# sourceMappingURL=app.css.map */
